# Virtual environments
backend/venv/
backend/ENV/
backend/env/
venv/
env/

# Byte-compiled
**/__pycache__/
**/*.pyc

# Env config
backend/.env
.env

# Databases
backend/*.db
backend/*.sqlite
*.db
*.sqlite

# IDEs
.vscode/
.idea/
.DS_Store


adidev_backend_plan.md